<div class="container">
  <div class="border border-dark badge container">
    <ul class="nav nav-tabs">
    <% if params[:id] == nil %>
      <li class="nav-item">

          <p class="nav-link active" style="color: grey;"><%= "ТОП" %></p>

      </li>
    <% else %>
    <li class="nav-item">
      <%= link_to root_path, class:"nav-link", style:"color: black;" do %>
        <%= "ТОП" %>
      <% end %>
    </li>
    <% end %>


    <% @categories.each do |category| %>
    <li class="nav-item">
      <% if category.id == params[:id].to_i %>

        <p class="nav-link active" style="color: grey;"><%= category.title %></p>

      <% end %>
      <% if category.id != params[:id].to_i %>
      <%= link_to category_path(category), class:"nav-link", style:"color: black;" do %>
        <%= category.title %>
      <% end %>
      <% end %>
    </li>

    <% end %>

    </ul>
  </div>
</div>
