<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-person-fill"></i></button>

<% if current_user == nil %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
             <%= link_to new_user_session_path, class:'btn btn-success' do %>
              <i class="bi bi-person-check-fill"></i><br><%= t('enter')%>
             <% end %>
          </div>
          <div class="modal-content">
             <%= link_to new_user_registration_path, class:'btn btn-warning' do %>
             <i class="bi bi-person-plus-fill"></i><br>
              <%= t('add_user')%>
             <% end %>
          </div>
        </div>
      </div>
<% end %>
<% if current_user%>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
   <%= link_to destroy_user_session_path, class:'btn btn-dark', method: :delete do %>
   <i class="bi bi-person-dash"></i><br><%= t('quit')%>
   <% end %>
</div>
<div class="modal-content">
   <%= link_to edit_user_registration_path(current_user.id), class:'btn btn-success' do %>
    <i class="bi bi-pencil-fill"></i>
    <br>
    <%= t('edit_user')%>
   <% end %>
</div>
<br>
<% if current_user.admin == true %>
<div class="modal-content">
   <%= link_to "/admin", class:'btn btn-danger' do %>
    <i class="bi bi-tools"></i>
    <br>
    <%= t('admins')%>
   <% end %>
</div>
<% end %>
</div>
</div>
<% end %>
