<head>

</head>
<%= render '/home/carousel' %>
<%= render 'navigation' %>
<div class="container">
  <div class="border border-dark badge container">
    <% @gendercategories.each do |gender| %>

    <%= link_to gendercategory_path(gender), class:'btn', style:"color: #{gender.color} " do %>
        <b><%= gender.title %></b>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="container border border-dark badge">
    <h1 style="color: blue;">
      <% @category.each do |category| %>
        <%= category.title %>
      <% end %>
    </h1>
  </div>
</div>
